In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DMining_Project/Project-Animal/data (3).csv')
df.head()

,Unnamed: 0,Name,Class_x,Suborder_x,average_pregnancy_duration,diet,average_life_span,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,lifespan_Imp,pregDuration_Imp
0,0,Grey Wolf,Mammalia,Caniformia,61.0,Carnivore,15,400000,Stable,Least concern (LC),11,15.0,61.0
1,1,Tiger,Mammalia,Feliformia,103.0,Carnivore,12,2656,Decreasing,Endangered (EN),11,12.0,103.0
2,2,Brown Bear,Mammalia,Caniformia,56.0,Omnivore,35,200000,Stable,Least concern (LC),11,35.0,56.0
3,3,Blue Whale,Mammalia,NaN,365.0,Carnivore,85,17500,Increasing,Endangered (EN),11,85.0,365.0
4,4,Killer Whale,Mammalia,NaN,495.0,Carnivore,65,50000,Unknown,Data deficient (DD),11,65.0,495.0

In [ ]:
df.isnull().sum()

Unnamed: 0                       0
Name                             0
Class_x                          0
Suborder_x                    1220
average_pregnancy_duration     853
diet                             0
average_life_span                0
Avg_Pop_Size                     0
Pop_Trend                        0
Pop_Status                       0
N_loc                            0
lifespan_Imp                     0
pregDuration_Imp                 0
dtype: int64

In [ ]:
df = df.drop(['Name','Class_x','Suborder_x','average_pregnancy_duration','average_life_span','lifespan_Imp'],axis=1)

In [ ]:
df

,Unnamed: 0,diet,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,pregDuration_Imp
0,0,Carnivore,400000,Stable,Least concern (LC),11,61.0
1,1,Carnivore,2656,Decreasing,Endangered (EN),11,103.0
2,2,Omnivore,200000,Stable,Least concern (LC),11,56.0
3,3,Carnivore,17500,Increasing,Endangered (EN),11,365.0
4,4,Carnivore,50000,Unknown,Data deficient (DD),11,495.0
...,...,...,...,...,...,...,...
1801,1801,Omnivore,2000,Increasing,Vulnerable (VU),1,120.0
1802,1802,Carnivore,2750,Decreasing,Vulnerable (VU),9,120.0
1803,1803,Carnivore,27500000,Decreasing,Least concern (LC),1,120.0
1804,1804,Herbivore,113715,Decreasing,Least concern (LC),1,120.0
1805,1805,Carnivore,2000000,Decreasing,Least concern (LC),11,120.0

In [ ]:
df.isnull().sum()

Unnamed: 0          0
diet                0
Avg_Pop_Size        0
Pop_Trend           0
Pop_Status          0
N_loc               0
pregDuration_Imp    0
dtype: int64

In [ ]:
df.dtypes

Unnamed: 0            int64
diet                 object
Avg_Pop_Size          int64
Pop_Trend            object
Pop_Status           object
N_loc                 int64
pregDuration_Imp    float64
dtype: object

In [ ]:
type(df['lifespan_Imp'])

pandas.core.series.Series

In [ ]:
df['lifespan_Imp'].median()

7.0

# dummy variables

In [ ]:
dummy1 = pd.get_dummies(df['diet'])
df = pd.concat([df,dummy1],axis=1).drop('diet',axis=1)
df.head()

,Unnamed: 0,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,pregDuration_Imp,Carnivore,Herbivore,Omnivore
0,0,400000,Stable,Least concern (LC),11,61.0,1,0,0
1,1,2656,Decreasing,Endangered (EN),11,103.0,1,0,0
2,2,200000,Stable,Least concern (LC),11,56.0,0,0,1
3,3,17500,Increasing,Endangered (EN),11,365.0,1,0,0
4,4,50000,Unknown,Data deficient (DD),11,495.0,1,0,0

In [ ]:
dummy1

      Carnivore  Herbivore  Omnivore
0             1          0         0
1             1          0         0
2             0          0         1
3             1          0         0
4             1          0         0
...         ...        ...       ...
1801          0          0         1
1802          1          0         0
1803          1          0         0
1804          0          1         0
1805          1          0         0

[1806 rows x 3 columns]

In [ ]:
df['Pop_Trend'].value_counts()

Decreasing    787
Stable        539
Unknown       273
Increasing    207
Name: Pop_Trend, dtype: int64

In [ ]:
df

,Unnamed: 0,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,pregDuration_Imp,Carnivore,Herbivore,Omnivore
0,0,400000,Stable,Least concern (LC),11,61.0,1,0,0
1,1,2656,Decreasing,Endangered (EN),11,103.0,1,0,0
2,2,200000,Stable,Least concern (LC),11,56.0,0,0,1
3,3,17500,Increasing,Endangered (EN),11,365.0,1,0,0
4,4,50000,Unknown,Data deficient (DD),11,495.0,1,0,0
...,...,...,...,...,...,...,...,...,...
1801,1801,2000,Increasing,Vulnerable (VU),1,120.0,0,0,1
1802,1802,2750,Decreasing,Vulnerable (VU),9,120.0,1,0,0
1803,1803,27500000,Decreasing,Least concern (LC),1,120.0,1,0,0
1804,1804,113715,Decreasing,Least concern (LC),1,120.0,0,1,0
1805,1805,2000000,Decreasing,Least concern (LC),11,120.0,1,0,0

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/DMining_Project/Project-Animal/animal_info_3.csv')
df1

,Unnamed: 0,average_pregnancy_duration,diet,average_life_span,population status,population trend,no_regions,lifespan_Imp
0,0,61.0,Carnivore,15.0,Least concern (LC),Stable,11,15.0
1,1,103.0,Carnivore,12.0,Endangered (EN),Decreasing,11,12.0
2,2,56.0,Omnivore,35.0,Least concern (LC),Stable,11,35.0
3,3,365.0,Carnivore,85.0,Endangered (EN),Increasing,11,41.5
4,4,495.0,Carnivore,65.0,Data deficient (DD),Unknown,11,41.5
...,...,...,...,...,...,...,...,...
1801,1801,NaN,Omnivore,19.0,Vulnerable (VU),Increasing,1,19.0
1802,1802,NaN,Carnivore,20.0,Vulnerable (VU),Decreasing,9,20.0
1803,1803,NaN,Carnivore,11.0,Least concern (LC),Decreasing,1,11.0
1804,1804,NaN,Herbivore,17.0,Least concern (LC),Decreasing,1,17.0
1805,1805,NaN,Carnivore,17.0,Least concern (LC),Decreasing,11,17.0

In [ ]:
df.describe()

,Unnamed: 0,Avg_Pop_Size,N_loc,pregDuration_Imp,Carnivore,Herbivore,Omnivore
count,1806.000000,1.806000e+03,1806.000000,1806.000000,1806.000000,1806.000000,1806.000000
mean,902.500000,6.515431e+06,5.920819,134.763012,0.487818,0.327243,0.184939
std,521.491611,3.842577e+07,4.495222,103.921333,0.499990,0.469337,0.388356
min,0.000000,3.000000e+01,1.000000,10.000000,0.000000,0.000000,0.000000
25%,451.250000,1.137150e+05,2.000000,112.000000,0.000000,0.000000,0.000000
50%,902.500000,1.137150e+05,4.500000,120.000000,0.000000,0.000000,0.000000
75%,1353.750000,1.137150e+05,11.000000,135.000000,1.000000,1.000000,0.000000
max,1805.000000,6.485000e+08,38.000000,2646.000000,1.000000,1.000000,1.000000

In [ ]:
df1.describe()

,Unnamed: 0,average_pregnancy_duration,average_life_span,no_regions,lifespan_Imp
count,1806.000000,953.000000,1806.000000,1806.000000,1806.000000
mean,902.500000,147.976915,18.478405,5.901993,17.006921
std,521.491611,141.796129,16.190156,4.517841,11.125889
min,0.000000,10.000000,1.000000,0.000000,1.000000
25%,451.250000,52.000000,9.000000,2.000000,9.000000
50%,902.500000,120.000000,15.000000,4.500000,15.000000
75%,1353.750000,210.000000,22.000000,11.000000,22.000000
max,1805.000000,2646.000000,162.000000,38.000000,41.500000

In [ ]:
finaldf = pd.concat([df, df1], axis=1)

In [ ]:
finaldf['population status'].value_counts()

Least concern (LC)          1103
Vulnerable (VU)              346
Endangered (EN)              253
Data deficient (DD)          102
Extinct in the wild (EW)       2
Name: population status, dtype: int64

In [ ]:
finaldf.columns

Index(['Unnamed: 0', 'Avg_Pop_Size', 'Pop_Trend', 'Pop_Status', 'N_loc',
       'pregDuration_Imp', 'Carnivore', 'Herbivore', 'Omnivore', 'Unnamed: 0',
       'average_pregnancy_duration', 'diet', 'average_life_span',
       'population status', 'population trend', 'no_regions', 'lifespan_Imp'],
      dtype='object')

In [ ]:
finaldf = finaldf[['Avg_Pop_Size', 'Pop_Trend', 'Pop_Status', 'N_loc',
       'lifespan_Imp', 'pregDuration_Imp', 'Carnivore', 'Herbivore',
       'Omnivore','population status']]
finaldf

,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Omnivore,population status
0,400000,Stable,Least concern (LC),11,15.0,61.0,1,0,0,Least concern (LC)
1,2656,Decreasing,Endangered (EN),11,12.0,103.0,1,0,0,Endangered (EN)
2,200000,Stable,Least concern (LC),11,35.0,56.0,0,0,1,Least concern (LC)
3,17500,Increasing,Endangered (EN),11,41.5,365.0,1,0,0,Endangered (EN)
4,50000,Unknown,Data deficient (DD),11,41.5,495.0,1,0,0,Data deficient (DD)
...,...,...,...,...,...,...,...,...,...,...
1801,2000,Increasing,Vulnerable (VU),1,19.0,120.0,0,0,1,Vulnerable (VU)
1802,2750,Decreasing,Vulnerable (VU),9,20.0,120.0,1,0,0,Vulnerable (VU)
1803,27500000,Decreasing,Least concern (LC),1,11.0,120.0,1,0,0,Least concern (LC)
1804,113715,Decreasing,Least concern (LC),1,17.0,120.0,0,1,0,Least concern (LC)
1805,2000000,Decreasing,Least concern (LC),11,17.0,120.0,1,0,0,Least concern (LC)

In [ ]:
finaldf = finaldf.drop(['Pop_Status','Omnivore'],axis=1)

In [ ]:
finaldf

,Avg_Pop_Size,Pop_Status,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Omnivore,Pop_Trend1
0,400000,Least concern (LC),11,15.0,61.0,1,0,0,2
1,2656,Endangered (EN),11,12.0,103.0,1,0,0,3
2,200000,Least concern (LC),11,35.0,56.0,0,0,1,2
3,17500,Endangered (EN),11,41.5,365.0,1,0,0,0
4,50000,Data deficient (DD),11,41.5,495.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
1801,2000,Vulnerable (VU),1,19.0,120.0,0,0,1,0
1802,2750,Vulnerable (VU),9,20.0,120.0,1,0,0,3
1803,27500000,Least concern (LC),1,11.0,120.0,1,0,0,3
1804,113715,Least concern (LC),1,17.0,120.0,0,1,0,3
1805,2000000,Least concern (LC),11,17.0,120.0,1,0,0,3

# Ordinal Encoding

In [ ]:
from numpy.core.multiarray import asarray
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
labels = {'Unknown':1,'Stable':2,'Decreasing':3,'Increasing':0}
finaldf['Pop_Trend1'] = finaldf['Pop_Trend'].map(labels)

# Label Encoding for target variable

In [ ]:
finaldf['population status'].value_counts()

Least concern (LC)          1103
Vulnerable (VU)              346
Endangered (EN)              253
Data deficient (DD)          102
Extinct in the wild (EW)       2
Name: population status, dtype: int64

In [ ]:
finaldf.drop(finaldf[finaldf['population status']=='Extinct in the wild (EW)'].index,inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder1 = LabelEncoder()
finaldf['population status1'] = encoder1.fit_transform(finaldf['population status'])
finaldf['population status1'].unique()

array([2, 1, 0, 3])

In [ ]:
finaldf

,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Omnivore,population status,Pop_Trend1,population status1
0,400000,Stable,Least concern (LC),11,15.0,61.0,1,0,0,Least concern (LC),2,2
1,2656,Decreasing,Endangered (EN),11,12.0,103.0,1,0,0,Endangered (EN),3,1
2,200000,Stable,Least concern (LC),11,35.0,56.0,0,0,1,Least concern (LC),2,2
3,17500,Increasing,Endangered (EN),11,41.5,365.0,1,0,0,Endangered (EN),0,1
4,50000,Unknown,Data deficient (DD),11,41.5,495.0,1,0,0,Data deficient (DD),1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1801,2000,Increasing,Vulnerable (VU),1,19.0,120.0,0,0,1,Vulnerable (VU),0,3
1802,2750,Decreasing,Vulnerable (VU),9,20.0,120.0,1,0,0,Vulnerable (VU),3,3
1803,27500000,Decreasing,Least concern (LC),1,11.0,120.0,1,0,0,Least concern (LC),3,2
1804,113715,Decreasing,Least concern (LC),1,17.0,120.0,0,1,0,Least concern (LC),3,2
1805,2000000,Decreasing,Least concern (LC),11,17.0,120.0,1,0,0,Least concern (LC),3,2

In [ ]:
finaldf

,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Omnivore,population status,Pop_Trend1,population status1
0,400000,Stable,Least concern (LC),11,15.0,61.0,1,0,0,Least concern (LC),2,2
1,2656,Decreasing,Endangered (EN),11,12.0,103.0,1,0,0,Endangered (EN),3,1
2,200000,Stable,Least concern (LC),11,35.0,56.0,0,0,1,Least concern (LC),2,2
3,17500,Increasing,Endangered (EN),11,41.5,365.0,1,0,0,Endangered (EN),0,1
4,50000,Unknown,Data deficient (DD),11,41.5,495.0,1,0,0,Data deficient (DD),1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1801,2000,Increasing,Vulnerable (VU),1,19.0,120.0,0,0,1,Vulnerable (VU),0,3
1802,2750,Decreasing,Vulnerable (VU),9,20.0,120.0,1,0,0,Vulnerable (VU),3,3
1803,27500000,Decreasing,Least concern (LC),1,11.0,120.0,1,0,0,Least concern (LC),3,2
1804,113715,Decreasing,Least concern (LC),1,17.0,120.0,0,1,0,Least concern (LC),3,2
1805,2000000,Decreasing,Least concern (LC),11,17.0,120.0,1,0,0,Least concern (LC),3,2

In [ ]:
X = finaldf[['Avg_Pop_Size', 'N_loc', 'lifespan_Imp', 'pregDuration_Imp',
       'Carnivore', 'Herbivore', 'Pop_Trend1']]
y= finaldf[['population status1']]

In [ ]:
X

,Avg_Pop_Size,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Pop_Trend1
0,400000,11,15.0,61.0,1,0,2
1,2656,11,12.0,103.0,1,0,3
2,200000,11,35.0,56.0,0,0,2
3,17500,11,41.5,365.0,1,0,0
4,50000,11,41.5,495.0,1,0,1
...,...,...,...,...,...,...,...
1801,2000,1,19.0,120.0,0,0,0
1802,2750,9,20.0,120.0,1,0,3
1803,27500000,1,11.0,120.0,1,0,3
1804,113715,1,17.0,120.0,0,1,3
1805,2000000,11,17.0,120.0,1,0,3

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
X_train

,Avg_Pop_Size,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Pop_Trend1
1740,2200000,11,39.0,120.0,1,0,3
1359,600000,3,22.0,120.0,1,0,0
1044,113715,11,5.0,90.0,1,0,1
837,113715,1,9.0,120.0,0,1,1
964,113715,10,41.5,120.0,0,1,1
...,...,...,...,...,...,...,...
1131,113715,10,10.0,143.0,1,0,2
1296,137000000,11,12.0,120.0,0,0,2
861,113715,1,27.0,44.0,0,1,2
1461,113715,1,8.0,120.0,1,0,0
1127,113715,1,3.0,120.0,0,0,2

In [ ]:
scaler.fit(X_train)
X_train_sclaed = scaler.transform(X_train)

X_test_sclaed = scaler.transform(X_test)

In [ ]:
X_train_sclaed.shape

(1443, 7)

In [ ]:
x_testscaled = pd.DataFrame(X_test_sclaed,columns=X_train.columns)
x_testscaled

,Avg_Pop_Size,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Pop_Trend1
0,3.678627,1.151565,0.265986,-0.139124,1.011851,-0.687349,-1.988853
1,-0.167193,-1.099463,-0.732358,-0.194797,-0.988288,-0.687349,-1.017318
2,-0.167193,-1.099463,-1.095393,-0.139124,-0.988288,1.454864,0.925752
3,-0.160908,6.103827,2.217296,-0.139124,1.011851,-0.687349,-0.045783
4,-0.167193,-0.874360,1.355089,-0.139124,1.011851,-0.687349,-0.045783
...,...,...,...,...,...,...,...
356,-0.167193,-1.099463,-0.823117,-0.779362,-0.988288,-0.687349,-0.045783
357,-0.161510,1.151565,-0.097048,-0.139124,1.011851,-0.687349,0.925752
358,-0.167193,0.701360,0.265986,-0.046336,1.011851,-0.687349,0.925752
359,-0.167193,1.151565,-0.823117,-0.139124,1.011851,-0.687349,-0.045783
360,-0.169808,-1.099463,1.355089,-0.139124,-0.988288,-0.687349,0.925752

In [ ]:
x_scaled = pd.DataFrame(X_train_sclaed,columns=X_train.columns)
x_scaled

,Avg_Pop_Size,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Pop_Trend1
0,-0.117011,1.151565,1.990399,-0.139124,1.011851,-0.687349,0.925752
1,-0.155496,-0.649257,0.447503,-0.139124,1.011851,-0.687349,-1.988853
2,-0.167193,1.151565,-1.095393,-0.417489,1.011851,-0.687349,-1.017318
3,-0.167193,-1.099463,-0.732358,-0.139124,-0.988288,1.454864,-1.017318
4,-0.167193,0.926463,2.217296,-0.139124,-0.988288,1.454864,-1.017318
...,...,...,...,...,...,...,...
1438,-0.167193,0.926463,-0.641600,0.074288,1.011851,-0.687349,-0.045783
1439,3.125397,1.151565,-0.460083,-0.139124,-0.988288,-0.687349,-0.045783
1440,-0.167193,-1.099463,0.901296,-0.844314,-0.988288,1.454864,-0.045783
1441,-0.167193,-1.099463,-0.823117,-0.139124,1.011851,-0.687349,-1.988853
1442,-0.167193,-1.099463,-1.276910,-0.139124,-0.988288,-0.687349,-0.045783

In [ ]:
finaldf.columns

Index(['Avg_Pop_Size', 'Pop_Trend', 'Pop_Status', 'N_loc', 'lifespan_Imp',
       'pregDuration_Imp', 'Carnivore', 'Herbivore', 'Omnivore',
       'population status', 'Pop_Trend1', 'population status1'],
      dtype='object')

In [ ]:
y_train

      population status1
1740                   2
1359                   2
1044                   2
837                    1
964                    3
...                  ...
1131                   2
1296                   2
861                    2
1461                   2
1127                   2

[1443 rows x 1 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x_scaled, y_train)
y_pred = dtc.predict(x_testscaled)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.6232686980609419

0 - DD 

1- EN

2 - EW

3- LC

4 - VU

In [ ]:
confusion_matrix(y_test,y_pred)

array([[  6,   2,  13,   3],
       [  2,  22,   7,  19],
       [ 11,  10, 174,  32],
       [  1,  11,  25,  23]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.30      0.25      0.27        24
           1       0.49      0.44      0.46        50
           2       0.79      0.77      0.78       227
           3       0.30      0.38      0.34        60

    accuracy                           0.62       361
   macro avg       0.47      0.46      0.46       361
weighted avg       0.64      0.62      0.63       361

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test,y_pred,average='weighted')

0.6287269000469261

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test,y_pred,average='macro')
print(accuracy_score(y_test,y_pred))

0.2077562326869806

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_scaled, y_train)
y_pred = rfc.predict(x_testscaled)

<ipython-input-135-bc6e4e5df71a>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(x_scaled, y_train)

In [ ]:
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred,average='weighted'))
print(accuracy_score(y_test,y_pred))

0.7040631596361528
0.7119113573407202

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.43      0.25      0.32        24
           1       0.61      0.50      0.55        50
           2       0.82      0.86      0.84       227
           3       0.45      0.50      0.48        60

    accuracy                           0.71       361
   macro avg       0.58      0.53      0.55       361
weighted avg       0.70      0.71      0.70       361

# Applying SMOTE - oversampling tech.

In [ ]:
import numpy as np

In [ ]:
unique, count = np.unique(y_train,return_counts= True)
print(unique, count)

[0 1 2 3] [ 78 203 876 286]

In [ ]:
y_train_dicts = {k:v for (k,v) in zip(unique,count)}
y_train_dicts

{0: 78, 1: 203, 2: 876, 3: 286}

In [ ]:
from imblearn.over_sampling._smote.filter import SVMSMOTE
from imblearn.over_sampling._smote import SMOTENC
from imblearn.over_sampling import SMOTE
sm = SVMSMOTE(random_state=43)
x_trains, y_trains = sm.fit_resample(x_scaled,y_train)

In [ ]:
unique, count = np.unique(y_trains,return_counts= True)
print(unique, count)

[0 1 2 3] [876 876 876 876]

In [ ]:
y_train_dictsmote = {k:v for (k,v) in zip(unique,count)}
y_train_dictsmote

{0: 876, 1: 876, 2: 876, 3: 876}

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_trains, y_trains)
y_pred = rfc.predict(x_testscaled)

<ipython-input-147-41997abb49d6>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(x_trains, y_trains)

In [ ]:
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred,average='weighted'))
print(accuracy_score(y_test,y_pred))

0.6936875034273873
0.6897506925207756

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.47      0.38      0.42        24
           1       0.56      0.48      0.52        50
           2       0.84      0.81      0.82       227
           3       0.41      0.55      0.47        60

    accuracy                           0.69       361
   macro avg       0.57      0.55      0.56       361
weighted avg       0.70      0.69      0.69       361

# Hyperparameter tunning - GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [ ]:
pipe = Pipeline([('classifier', RandomForestClassifier())])
grid_param = [
                {'classifier':[RandomForestClassifier()],
                 'classifier__n_estimators': [10,100,1000],
                 'classifier__max_depth':[5,8,15,25,30,None],
                 'classifier__min_samples_leaf':[1,2,5,10,15,100],
                 'classifier__max_leaf_nodes':[2,5,10]} ]

gridsearch = GridSearchCV(pipe, grid_param, cv=5, verbose=0, n_jobs=-1)
bestmodel = gridsearch.fit(x_trains,y_trains)

/usr/local/lib/python3.8/dist-packages/sklearn/pipeline.py:394: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

In [ ]:
print(bestmodel.best_estimator_)

Pipeline(steps=[('classifier',
                 RandomForestClassifier(max_depth=5, max_leaf_nodes=10,
                                        min_samples_leaf=10))])

In [ ]:
print(bestmodel.score(X_test,y_test))

0.23545706371191136

In [ ]:
import xgboost as xgb
model = xgb.XGBClassifier()
model.fit(x_trains,y_trains)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred,average='weighted'))
print(accuracy_score(y_test,y_pred))

0.6915085391345607
0.6869806094182825

In [ ]:
import pandas as pd 
finaldf.to_csv('finaldf.csv')

In [ ]:
finaldf

,Avg_Pop_Size,Pop_Trend,Pop_Status,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Omnivore,population status,Pop_Trend1,population status1
0,400000,Stable,Least concern (LC),11,15.0,61.0,1,0,0,Least concern (LC),2,2
1,2656,Decreasing,Endangered (EN),11,12.0,103.0,1,0,0,Endangered (EN),3,1
2,200000,Stable,Least concern (LC),11,35.0,56.0,0,0,1,Least concern (LC),2,2
3,17500,Increasing,Endangered (EN),11,41.5,365.0,1,0,0,Endangered (EN),0,1
4,50000,Unknown,Data deficient (DD),11,41.5,495.0,1,0,0,Data deficient (DD),1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1801,2000,Increasing,Vulnerable (VU),1,19.0,120.0,0,0,1,Vulnerable (VU),0,3
1802,2750,Decreasing,Vulnerable (VU),9,20.0,120.0,1,0,0,Vulnerable (VU),3,3
1803,27500000,Decreasing,Least concern (LC),1,11.0,120.0,1,0,0,Least concern (LC),3,2
1804,113715,Decreasing,Least concern (LC),1,17.0,120.0,0,1,0,Least concern (LC),3,2
1805,2000000,Decreasing,Least concern (LC),11,17.0,120.0,1,0,0,Least concern (LC),3,2

In [ ]:
X_train

,Avg_Pop_Size,N_loc,lifespan_Imp,pregDuration_Imp,Carnivore,Herbivore,Pop_Trend1
1740,2200000,11,39.0,120.0,1,0,3
1359,600000,3,22.0,120.0,1,0,0
1044,113715,11,5.0,90.0,1,0,1
837,113715,1,9.0,120.0,0,1,1
964,113715,10,41.5,120.0,0,1,1
...,...,...,...,...,...,...,...
1131,113715,10,10.0,143.0,1,0,2
1296,137000000,11,12.0,120.0,0,0,2
861,113715,1,27.0,44.0,0,1,2
1461,113715,1,8.0,120.0,1,0,0
1127,113715,1,3.0,120.0,0,0,2